<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=\, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      rel="stylesheet"
      href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css"
      integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
      crossorigin=""
    />

    <script
      src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js"
      integrity="sha512-QVftwZFqvtRNi0ZyCtsznlKSWOStnDORoefr1enyq5mVL4tmKB3S/EnC3rRJcxCPavG10IcrVGSmPh6Qw5lwrg=="
      crossorigin=""
    ></script>
    <title>Navigation by MB</title>

    <link rel="apple-touch-icon" sizes="180x180" href="static/images/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="static/images/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="static/images/favicons/favicon-16x16.png">
    <link rel="manifest" href="static/images/favicons/site.webmanifest">

    <meta title="Navigation by MB"/>
    <meta name="description" content="Navigate your mercedes through the best route suggested by Navigation by MB">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;500&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script> 
    <link rel="stylesheet" href="https://bootswatch.com/4/materia/bootstrap.min.css"> 
    <link rel="stylesheet" href="static/css/maps.css"> 
    <title>Our map</title>
    <script src="static/js/maps.js"></script>
  </head>
  <body>
    <div class="d-flex flex-row flex-md-row justify-content-between align-items-center p-3 px-md-4 mb-3 bg-dark border-bottom box-shadow" style="color: whitesmoke;">
        <h5 style="width: 100%;" class="my-0 mr-md-auto header_MB">Navigation</h5>
        <img src="static/images/logo.png" width="40" height="40"/>
        <div style="width: 100%;" class="d-none d-md-block"></div>
      </div>
    <div>

    <div class="d-flex flex-md-row flex-column justify-content-center align-items-center" style="height: 80vh; color: white;">
      <div style=" width:max-content;">
        <div class="header_MB" style="font-size: 24px;">Route : Shortest Distance</div>
        <div id="route_dist"></div>
        <div>
          <div>Distance :<span id="dist_dist"></span></div>
          <div>Average width : <span id="dist_avg_width"></span></div> 
        </div>
      </div> 
      <div style=" width: max-content;">
        <div class="header_MB" style="font-size: 24px;">Route : Width and Distance</div>
        <div id="route_width"></div>
        <div >
          <div>Distance :<span id="width_dist"></span></div>
          <div>Average width : <span id="width_avg_width"></span></div> 
        </div>
      </div>
      

      <form id="route_form" style=" width: 100%;">
        <h2>Plan your Route</h2>
        <label for="source_dropdown">Source:</label><br>
        <select id="source_dropdown" name="source">
          <option value="1" selected>None</option>  
        </select>
        <br/>
        <label for="destination_dropdown">Destination:</label><br>
        <select id="destination_dropdown" name="destination">
          <option value="1" selected>None</option>  
        </select>
        <br/>
        <input type="submit" value="Plan Route">
      </form>
      
    </div>
    <div id="result"></div>

    <!-- <script src="static/js/maps.js" lat = {{lat}} long = {{long}} origin = {{origin}} dest = {{dest}}> </script>     -->
    <script>

      // var lat ={{lat}};
      // var long = {{long}};
      // var origin = {{origin}};
      // var dest = {{dest}};
      var map_dist = L.map('route_dist').setView([12.878876, 77.495039], 13);
      var map_width = L.map('route_width').setView([12.878876, 77.495039], 13);

      var routeForm = document.getElementById("route_form")
      routeForm.addEventListener("submit",onSubmitRoute)

      function onSubmitRoute(e) {
        map_dist.remove()
        map_width.remove()
        
        map_dist = L.map('route_dist').setView([12.878876, 77.495039], 13);
        map_width = L.map('route_width').setView([12.878876, 77.495039], 13);

        e.preventDefault()
        const source =e.target[0].value
        const destination =e.target[1].value

        fetchData(`http://localhost:5000/route?origin=${source}&destination=${destination}`).then((res)=>{


        const {destination,origin,route_dist,route_width_dist} = res
        $('#width_dist').text(route_width_dist.distance)
        $('#width_avg_width').text(route_width_dist.avg_width)
        $('#dist_dist').text(route_dist.distance)
        $('#dist_avg_width').text(route_dist.avg_width)

        console.log({lat: route_width_dist.latitude, long:route_width_dist.longitude, origin, dest:destination})
        console.log( {lat: route_dist.latitude, long:route_dist.longitude, origin, dest:destination})


        getRouteMaps(map_dist, {lat: route_dist.latitude, long:route_dist.longitude, origin, dest:destination})
        getRouteMaps(map_width, {lat: route_width_dist.latitude, long:route_width_dist.longitude, origin, dest:destination})
      })
      }

      async function fetchData(url){
        const res = await fetch(url)
        const data = await res.json()
        return data
      }

      // const locationData = fetchData('http://localhost:5000/getNodes').then(res=>{
      //   console.log(res)
        const html_for_option = `${locationsDetails.map((d,i)=>{
          return `<option value="${d.nodeName}"> 
                ${d.nodeName + " "+ d.address.split(',')[0]} 
            </option>`
        }).join("\n")}
        ` 

          $('#source_dropdown').append(html_for_option)
          $('#destination_dropdown').append(html_for_option)
        console.log(html_for_option)
      // })

  
      
      
      function getRouteMaps(mymap, route ) {

        var attribution =
          '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors';

        var tileUrl = "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png";
        var tiles = L.tileLayer(tileUrl, { attribution });

        tiles.addTo(mymap);
        var marker = L.marker(route.origin);
        marker.addTo(mymap);
        
        marker.bindPopup("Origin").openPopup();

        var marker1 = L.marker(route.dest);
        marker1.addTo(mymap);
        marker1.bindPopup("Destination").openPopup();
        var i = 0;
        console.log(route.long.length);
        for (i = 0; i < route.lat.length; i++) {
          var circle = L.circle([route.lat[i], route.long[i]], {
            color: "yellow",
            fillColor: "yellow",
            fillOpacity: 0.5,
            radius: 35,
          });
          circle.addTo(mymap);
        }

        var issIcon = L.icon({
          iconUrl: "{{url_for('static',filename='images/amb.png')}}",
          iconSize: [50, 32],
          iconAnchor: [25, 16],
        });
        let marker3 = L.marker(route.origin, { icon: issIcon }).addTo(mymap);

        let yo = [];

        var i = 0, x = 0;
        a = setInterval(function () {
          mymap.removeLayer(marker3);
          marker3 = L.marker([route.lat[i], route.long[i]], { icon: issIcon });
          marker3.addTo(mymap);

          var circle2 = L.circle([route.lat[i], route.long[i]], {
            color: "black",
            fillColor: "yellow",
            fillOpacity: 0.5,
            radius: 2,
          });
          circle2.addTo(mymap);
          i++;
        }, 300);
        
      }

    </script>
      
      
  </body>
</html>